<div
  class="hero min-h-screen"
  style="background-image: url(https://static.vecteezy.com/system/resources/previews/020/833/849/non_2x/world-map-with-country-names-free-vector.jpg);">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Country Application</h1>
      <p class="mb-5">
        Welcome to my country application in which you can search many countries and capitals
      </p>
      <button
        routerLink="/country"
        class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>

