<section class="mt-5" >
  <div class="overflow-x-auto">
    <table class="table table-md mt-2 w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>#</th>
          <th>Icon</th>
          <th>Flag</th>
          <th>Name</th>
          <th>Capital</th>
          <th>Population</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for ( country of countries(); track country.cca2; let index = $index) {
          <tr>
            <td>{{ index + 1 }}</td>
            <td>{{ country.flag }}</td>
            <td>
              <img [src]="country.flagSvg" [alt]="country.name"
              class="w-10">
            </td>
            <td>{{ country.name }}</td>
            <td>{{ country.capital  }}</td>
            <td>
              <p class="badge badge-secondary">
                {{ country.population | number }}
              </p>
            </td>
            <td>
              <a class="link-primary cursor-pointer "> More information </a>
            </td>


          </tr>
        }
      </tbody>

    </table>
  </div>
</section>
